button.project-btn {
  border: 1px solid var(--primary-color-1);
  border-radius: 8px;
  background: var(--neutral-color-1);
  padding: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-color-1);
  margin-bottom: 28px;
  height: 48px;
  width: 124px;
}

button.project-btn:active {
  background: #2230d2;
}

button.project-btn:disabled {
  color: #5e6c84;
  border: 1px solid var(--neutral-color-4);
  background: var(--neutral-color-1);
  box-shadow: none;
  cursor: not-allowed;
}

button.project-btn:hover {
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  background: #6070ff;
  cursor: pointer;
  color: var(--neutral-color-1);
}
