@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("./animations.css");
@import url("./cards.css");
@import url("./buttons.css");
@import url('./modal.css');
@import url("./small.css");
@import url("./medium.css");
@import url("./large.css");

/* General page settings */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-color-1: #1028fe;
  --primary-color-2: #0117df;
  --primary-color-3: #ebebff;
  --primary-color-4: #396df2;
  --primary-color-5: #6070ffd5;
  --accent-color-1: #172b4d;
  --accent-color-2: #344563;
  --neutral-color-1: #fff;
  --neutral-color-2: #f6f7f8;
  --neutral-color-3: #dfe1e6;
  --neutral-color-4: #c1c7d0;
  --neutral-color-5: #51596c;
  --neutral-color-6: #f7f7f9;
  --neutral-color-7: #f6f7f86b;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
