@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/* General page settings */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-color-1: #6070ff;
  --primary-color-2: #7f8cff;
  --accent-color-1: #172b4d;
  --accent-color-2: #344563;
  --neutral-color-1: #fff;
  --neutral-color-2: #f6f7f8;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: var(--neutral-color-2);
}

/* Header Section */
div.main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--neutral-color-1) url("../images/background_image/header-shapes\ mobile@2x.svg") center 93px no-repeat;
  height: 100vh;
  border-bottom-left-radius: 100px;
}

.limited {
  margin: 24px;
}

header {
  display: flex;
  justify-content: space-between;
}

header .logo a {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color-1);
}

/* Hero Section */
section.hero-section {
  margin-top: 120px;
}

.hero-section > h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 52px;
  color: var(--accent-color-1);
}

.hero-section > h4 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color-2);
  text-transform: uppercase;
  margin: 14px 0;
}

.hero-section > p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color-2);
}

.hero-section > ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.hero-section > ul > li {
  margin-right: 20px;
}
